/* line 1, sass/base/_reset.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, sass/base/_reset.scss */
button {
  border: none;
  background: none;
  cursor: pointer; }

/* line 13, sass/base/_reset.scss */
li {
  list-style: none;
  text-decoration: none; }

/* line 18, sass/base/_reset.scss */
a {
  text-decoration: none;
  color: black;
  font-size: 120%; }

/* line 23, sass/base/_reset.scss */
a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }

/* line 1, sass/components/form.scss */
.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

/* line 7, sass/components/form.scss */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

/* line 15, sass/components/form.scss */
.form-control {
  display: contents;
  margin-top: 10px; }

/* line 21, sass/components/form.scss */
#date {
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1); }

/* line 26, sass/components/form.scss */
#description {
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1); }

/* line 33, sass/components/form.scss */
.boton-agregar {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none; }

/* line 46, sass/components/form.scss */
.boton-agregar:hover {
  cursor: pointer;
  background-color: darkcyan; }

/* line 51, sass/components/form.scss */
.form-contact {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white; }

/* line 61, sass/components/form.scss */
.form-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7); }

/* line 68, sass/components/form.scss */
.form-input, .form-label, .form-submit {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.3rem; }

/* line 74, sass/components/form.scss */
.form-input {
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  transition: all 400ms ease-in-out; }

/* line 81, sass/components/form.scss */
.form-input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7); }

/* line 85, sass/components/form.scss */
.form-input:focus + .form-label {
  transform: scale(0.7) translate(-104px, -26px); }

/* line 91, sass/components/form.scss */
.form-label {
  padding-left: 15px;
  margin-top: -85px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 400ms ease-in-out; }

/* line 97, sass/components/form.scss */
.form-submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none; }

/* line 105, sass/components/form.scss */
.fijar {
  transform: scale(0.7) translate(-104px, -26px); }

/* line 108, sass/components/form.scss */
#type {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1); }

/* line 1, sass/components/_task.scss */
.card__controls {
  display: flex;
  gap: 10px; }

/* line 6, sass/components/_task.scss */
.button-delete {
  border: none;
  background-color: #DC2626;
  color: #0c0303;
  font-weight: bold;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 5px; }
  /* line 16, sass/components/_task.scss */
  .button-delete svg {
    width: 100%;
    height: 100%; }
  /* line 20, sass/components/_task.scss */
  .button-delete:hover {
    cursor: pointer;
    background-color: #EF4444; }

/* line 27, sass/components/_task.scss */
.check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 30px;
  width: 30px; }

/* line 37, sass/components/_task.scss */
.check-button--disabled {
  background-color: #E5E7EB; }

/* line 40, sass/components/_task.scss */
.check-button--success {
  background-color: #10b981; }

/* line 44, sass/components/_task.scss */
.card__type {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem; }

/* line 49, sass/components/_task.scss */
h3 {
  text-transform: capitalize;
  font-size: 1.2rem; }

/* line 2, sass/components/nav.scss */
#menuNav {
  position: fixed;
  width: 160px;
  height: 100%;
  background: #E8BDE9;
  left: -200px;
  transition: all 500ms linear;
  z-index: 999;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2); }

/* line 13, sass/components/nav.scss */
#menuNav.active {
  left: 0px; }

/* line 16, sass/components/nav.scss */
.ul-container {
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  flex-direction: column;
  align-items: center; }

/* line 24, sass/components/nav.scss */
.li-container {
  text-decoration: none;
  width: 50%;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  list-style: none; }

/* line 33, sass/components/nav.scss */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 70%;
  display: block;
  margin: 0 auto; }

/* line 40, sass/components/nav.scss */
#menuNav .menu-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer; }

/* line 47, sass/components/nav.scss */
#menuNav .menu-btn span {
  color: white;
  display: block;
  width: 40px;
  text-align: center;
  font-size: 25px;
  background-color: #D8A2D9; }

/* line 56, sass/components/nav.scss */
#menuNav .menu-btn:hover {
  cursor: pointer; }

/* line 1, sass/components/_weather.scss */
.weather-container {
  width: 100%;
  max-width: 500px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto; }
  /* line 9, sass/components/_weather.scss */
  .weather-container .weather__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: blur(2px) brightness(0.8); }
  /* line 17, sass/components/_weather.scss */
  .weather-container .weather__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    position: relative;
    padding: 40px; }
    /* line 25, sass/components/_weather.scss */
    .weather-container .weather__info .info__location h2 {
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: capitalize; }
    /* line 30, sass/components/_weather.scss */
    .weather-container .weather__info .info__location #icon-weather {
      width: 100px; }
    /* line 34, sass/components/_weather.scss */
    .weather-container .weather__info .info__temp {
      text-align: center; }
      /* line 36, sass/components/_weather.scss */
      .weather-container .weather__info .info__temp h2 {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 100; }
      /* line 41, sass/components/_weather.scss */
      .weather-container .weather__info .info__temp p {
        font-size: 1.4rem;
        font-weight: 100; }

/* line 1, sass/components/_dropdown.scss */
.filter {
  position: relative; }
  /* line 4, sass/components/_dropdown.scss */
  .filter__button {
    padding: 12px 18px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid rgba(46, 46, 46, 0.299);
    border-radius: 3px; }
  /* line 11, sass/components/_dropdown.scss */
  .filter__option {
    width: 120px;
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid rgba(46, 46, 46, 0.299);
    border-radius: 3px;
    top: 50px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all 250ms ease-in-out; }
    /* line 21, sass/components/_dropdown.scss */
    .filter__option .filter-option__item {
      padding: 10px 16px;
      cursor: pointer;
      text-transform: capitalize; }
      /* line 25, sass/components/_dropdown.scss */
      .filter__option .filter-option__item:hover {
        background-color: rgba(0, 0, 0, 0.106); }
    /* line 29, sass/components/_dropdown.scss */
    .filter__option.active {
      display: block; }

/* line 8, sass/main.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); }

/* line 19, sass/main.scss */
h1 {
  text-align: center;
  color: #467272; }

/* line 23, sass/main.scss */
.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3); }

/* line 39, sass/main.scss */
input {
  padding: 15px 10px;
  outline: none;
  width: 400px; }

/* line 44, sass/main.scss */
.list-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px; }

/* line 50, sass/main.scss */
#list-tasks {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: row; }

/* line 57, sass/main.scss */
li p {
  margin: 0;
  padding: 15px;
  width: 100%; }

/* line 63, sass/main.scss */
.vaciar {
  color: darkslategrey; }

/* line 67, sass/main.scss */
.card-container {
  display: grid;
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom right, rgba(30, 92, 193, 0.51), #3868b5);
  margin: 0 20px 20px 0;
  text-align: center;
  color: #ffffff;
  user-select: none;
  border-radius: 20px;
  justify-items: center; }

/* line 82, sass/main.scss */
.container-papelera {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px; }
