/* line 1, sass/base/_reset.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 7, sass/base/_reset.scss */
button {
  border: none;
  background: none;
  cursor: pointer; }

/* line 13, sass/base/_reset.scss */
li {
  list-style: none; }

/* line 1, sass/components/form.scss */
.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

/* line 7, sass/components/form.scss */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

/* line 15, sass/components/form.scss */
.form-control {
  margin-top: 10px; }

/* line 19, sass/components/form.scss */
#date {
  width: 70%; }

/* line 22, sass/components/form.scss */
#description {
  width: 70%; }

/* line 27, sass/components/form.scss */
.boton-agregar {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  max-width: 360px;
  margin: 20px auto;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none; }

/* line 40, sass/components/form.scss */
.boton-agregar:hover {
  cursor: pointer;
  background-color: darkcyan; }

/* line 45, sass/components/form.scss */
.form-contact {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white; }

/* line 55, sass/components/form.scss */
.form-title {
  text-align: center;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.7); }

/* line 61, sass/components/form.scss */
.form-input, .form-label, .form-submit {
  display: block;
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.3rem; }

/* line 67, sass/components/form.scss */
.form-input {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; }

/* line 73, sass/components/form.scss */
.form-input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7); }

/* line 76, sass/components/form.scss */
.form-input:focus + .form-label {
  margin-top: -140px; }

/* line 82, sass/components/form.scss */
.form-label {
  padding-left: 15px;
  margin-top: -85px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

/* line 88, sass/components/form.scss */
.form-submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none; }

/* line 96, sass/components/form.scss */
.fijar {
  margin-top: -135px; }

/* line 1, sass/components/_task.scss */
.button-delete {
  border: none;
  background-color: #DC2626;
  color: #0c0303;
  font-weight: bold;
  padding: 5px 14px;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 5px;
  background-image: url("../../assets/icons/delete_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px; }
  /* line 17, sass/components/_task.scss */
  .button-delete:hover {
    cursor: pointer;
    background-color: #EF4444; }

/* line 24, sass/components/_task.scss */
.check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  border-radius: 3px;
  height: 30px;
  width: 30px; }

/* line 1, sass/components/nav.scss */
#menuNav {
  position: fixed;
  width: 200px;
  height: 100%;
  background: white;
  left: -200px;
  transition: all 500ms linear; }

/* line 10, sass/components/nav.scss */
#menuNav.active {
  left: 0px; }

/* line 13, sass/components/nav.scss */
.ul-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  flex-direction: column;
  align-items: center; }

/* line 21, sass/components/nav.scss */
.li-container {
  width: 50%;
  list-style: none;
  border-radius: 5px;
  margin-top: 15px;
  display: flex; }

/* line 29, sass/components/nav.scss */
.logo {
  width: 45px;
  height: 45px;
  border-radius: 70%;
  display: block;
  margin: 0 auto; }

/* line 36, sass/components/nav.scss */
#menuNav .menu-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer; }

/* line 43, sass/components/nav.scss */
#menuNav .menu-btn span {
  color: white;
  display: block;
  width: 40px;
  text-align: center;
  font-size: 25px; }

/* line 6, sass/main.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); }

/* line 16, sass/main.scss */
h1 {
  text-align: center;
  color: darkslategrey; }

/* line 20, sass/main.scss */
.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px; }

/* line 34, sass/main.scss */
input {
  padding: 15px 10px;
  outline: none;
  width: 400px; }

/* line 39, sass/main.scss */
.list-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px; }

/* line 45, sass/main.scss */
ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px; }

/* line 51, sass/main.scss */
li p {
  margin: 0;
  padding: 15px;
  width: 100%; }

/* line 57, sass/main.scss */
.vaciar {
  color: darkslategrey; }

/* line 61, sass/main.scss */
.card-container {
  display: grid;
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom right, rgba(30, 92, 193, 0.51), #3868b5);
  margin: 0 20px 20px 0;
  text-align: center;
  color: #ffffff;
  user-select: none;
  border-radius: 20px;
  justify-items: center; }

/* line 76, sass/main.scss */
.container-papelera {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 3px;
  padding: 30px; }
