@import './base/reset';
@import './components/form.scss';
@import './components/task';
@import './components/nav.scss';


body {
    
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

  h1 {
    text-align: center;
    color: darkslategrey;
  }
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 3px;
    padding: 30px;
  }

  

  input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
  }
  .list-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
  }
 
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  
  .vaciar {
    color: darkslategrey;
  }

  .card-container{

    display: grid;
    width: 150px;
    height: 150px;
    background: linear-gradient(to bottom right, rgba(30, 92, 193, 0.51), rgb(56, 104, 181));
    margin: 0 20px 20px 0;
    text-align: center;
    color: #ffffff;
    user-select: none;
    border-radius: 20px;
  }
