@import './base/reset';

body {
    
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url(https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

  h1 {
    text-align: center;
    color: darkslategrey;
  }
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 3px;
    padding: 30px;
  }
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;

  }
  input {
    padding: 15px 10px;
    outline: none;
    width: 400px;
  }
  .list-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
  }
  li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  .boton-borrar {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
  }
  .boton-borrar:hover {
    cursor: pointer;
    background-color: lightseagreen;
  }
  .boton-agregar {
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    max-width: 360px;
    margin:20px auto;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
  }
  .boton-agregar:hover {
    cursor: pointer;
    background-color: darkcyan;
  }
  .vaciar {
    color: darkslategrey;
  }



