.filter{
    position: relative;

    &__button{
        padding:12px 18px;
        font-size: 1rem;
        font-weight: 600;
        border: 1px solid rgba(46, 46, 46, 0.299);
        border-radius: 3px;
    }
    &__option{
        width: 120px;
        display: none;
        background-color: #FFFFFF;
        position:absolute;
        border: 1px solid rgba(46, 46, 46, 0.299);
        border-radius: 3px;
        top:50px;
        box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
        transition: all 250ms ease-in-out;
        .filter-option__item{
            padding:10px 16px;
            cursor:pointer;
            text-transform: capitalize;
            &:hover{
                background-color: rgba(0, 0, 0, 0.106);
            }
        }
        &.active{
            display: block;
        }
    }

}
