.card__controls{
  display:flex;
  gap:10px;
}

.button-delete {
    
    border: none;
    background-color: #DC2626;
    color: rgb(12, 3, 3);
    font-weight: bold;
    height: 30px;
    width: 30px;
    outline: none;
    border-radius: 5px;
    svg{
      width: 100%;
      height: 100%;
    }
    &:hover {
        cursor: pointer;
        background-color: #EF4444;
    }

  }

  .check-button{
      display: flex;
      justify-content: center;
      align-items: center;
      
      border-radius: 3px;
      height: 30px;
      width: 30px;
  }

  .check-button--disabled{
    background-color: #E5E7EB;
  }
  .check-button--success{
    background-color: #10b981;
  }

  .card__type{
    text-transform: uppercase;
    color: black;
    font-size: 1.2rem;
  }
  h3{
    text-transform: capitalize;
    font-size: 1.2rem;
  }