.card__controls{
  display:flex;
  gap:10px;
}

.button-delete {
    
    border: none;
    background-color: #DC2626;
    color: rgb(12, 3, 3);
    font-weight: bold;
    padding: 5px 14px;
    height: 30px;
    width: 30px;
    outline: none;
    border-radius: 5px;
    background-image: url('../../assets/icons/delete_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;

    &:hover {
        cursor: pointer;
        background-color: #EF4444;
    }

  }

  .check-button{
      display: flex;
      justify-content: center;
      align-items: center;
      
      border-radius: 3px;
      height: 30px;
      width: 30px;
  }

  .check-button--disabled{
    background-color: #E5E7EB;
  }
  .check-button--success{
    background-color: #10b981;
  }

  