.weather-container{
    width:100%;
    max-width: 500px;
    height: 300px;
    position:relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    .weather__bg{
        position:absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        filter: blur(2px) brightness(0.8);
    }
    .weather__info{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        color: white;
        position:relative;
        padding: 40px;
        .info__location{
            h2{
                font-size: 1.4rem;
                font-weight: 400;
                text-transform: capitalize;
            }
            #icon-weather{
                width: 100px;
            }
        }
        .info__temp{
            text-align: center;
            h2{
                font-size: 5rem;
                line-height: 5rem;
                font-weight: 100;
            }
            p{
                font-size: 1.4rem;
                font-weight: 100;
            }
        }
    }
}