
#menuNav {
    position: fixed;
    width: 160px;
    height: 100%;
    background: #E8BDE9;
    left: -200px;
    transition: all 500ms linear;
    z-index: 999;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.2);
  }
  
  #menuNav.active {
    left: 0px;
  }
  .ul-container{
      text-decoration: none;
      display: flex;
      flex-wrap: nowrap;
      padding: 20px;
      flex-direction: column;
      align-items: center;
     }
  .li-container{
    text-decoration: none;
    width: 50%;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    list-style: none;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 70%;
    display: block;
    margin: 0 auto; 
  }
  #menuNav .menu-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #menuNav .menu-btn span {
      color: white;
    display: block;
    width: 40px;
    text-align: center;
    font-size: 25px;
    background-color: #D8A2D9;
    border-radius: 20px;
    
  }
  #menuNav .menu-btn:hover{
    cursor: pointer;
  }